---
// src/components/About.astro
---

<section id="about" class=" py-8">
    <h2 class="text-2xl font-bold mb-4">Sobre Mí</h2>
    <p>
      Soy un profesional con una sólida trayectoria en el sector bancario, donde desarrollé habilidades en análisis financiero, gestión de riesgos y atención personalizada al cliente. Durante mi carrera, me forjé en ambientes de alta exigencia, perfeccionando mi capacidad para resolver problemas complejos y tomar decisiones estratégicas.
      <br><br>
Impulsado por una pasión innata por la innovación, decidí transitar hacia el mundo de la tecnología y el análisis de datos. Esta evolución me ha permitido combinar mi experiencia tradicional en el ámbito financiero con competencias tecnológicas avanzadas, abarcando desde la implementación de soluciones digitales hasta la interpretación de grandes volúmenes de información para optimizar procesos y generar valor.
<br><br>
Mi perfil se caracteriza por una mentalidad analítica y orientada a resultados, además de una capacidad comprobada para adaptarme a entornos dinámicos y desafiantes. Estoy comprometido con la transformación digital y la creación de estrategias que impulsen la eficiencia y el crecimiento, convirtiéndome en un aliado estratégico tanto para equipos de trabajo como para potenciales clientes y organizaciones en búsqueda de innovación y excelencia.
    </p>
  </section>
  