---
// src/components/About.astro
---

<section id="about" class=" py-8">
    <h2 class="text-2xl font-bold mb-4">Sobre Mí</h2>
    <p style="text-align: justify;">
      Soy Manuel, un profesional con una sólida trayectoria en el mundo bancario, donde me especialicé en la atención a clientes empresariales, brindando soluciones personalizadas y construyendo relaciones basadas en la confianza y el compromiso. Durante años, perfeccioné mis habilidades en la gestión de cuentas, la resolución de problemas y el análisis de necesidades, lo que me permitió desarrollar un enfoque metódico y orientado a resultados.
      <br></p>
      Sin embargo, mi curiosidad y pasión por la tecnología me llevaron a dar un giro en mi carrera, explorando el fascinante mundo del desarrollo web y la inteligencia artificial. En este proceso de transición, he adquirido conocimientos en tecnologías como HTML, CSS, JavaScript, React, Node.js, y en el uso de APIs de IA, aplicándolos en proyectos que demuestran mi capacidad de aprendizaje continuo y adaptación.
      <br></br>
      Hoy, combino mi experiencia en el análisis y la resolución de problemas del ámbito financiero con mi formación en desarrollo web, lo que me permite abordar desafíos tecnológicos con una perspectiva única y estratégica. Estoy en busca de oportunidades donde pueda aportar mi conocimiento, seguir creciendo profesionalmente y contribuir con soluciones innovadoras que generen un impacto positivo.
      
      
    </p>
  </section>
  